{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="container mt-3 mb-5">
        <h3 class="query-title">Results by Sport</h3>
        {% if not results %}
        <div class="row">
            <div class="col-12">
                In this query you will obtain the amount of medals that a sport has obtained in different sport in all history.
            </div>
        </div>
        <form method="post">
            <div class="row mt-3">
                <div class="col-8 d-flex form-row align-items-center mx-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">🏈</div>
                        </div>
                        <input type="text" class="form-control" id="sport" name="sport" placeholder="Sport">
                    </div>
                    <div class="col-auto ms-2">
                        <button type="submit" class="btn btn-primary">🔍 Search</button>
                    </div>
                </div>
            </div>
          </form>
        {% else %}
        <h4 class="mt-2 text-center">Results for {{ sport }}</h4>
        <div class="tablediv">
            <table class="table table-striped table table-bordered text-center">
                <thead class="bg-info sticky-top">
                <tr>
                    <th scope="col">Sport</th>
                    <th scope="col">Bronze 🥉</th>
                    <th scope="col">Silver 🥈</th>
                    <th scope="col">Gold 🥇</th>
                    <th scope="col">Total 🏆</th>
                </tr>
                </thead>
                <tbody>
                    {% for r in results %}
                    <tr>
                        <td class="fw-bold">{{ r.country }}</td>
                        <td>{{ r.gold }}</td>
                        <td>{{ r.silver }}</td>
                        <td>{{ r.bronze }}</td>
                        <td>{{ r.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
