{% extends 'base.html' %}

{% block title %}Querys{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Querys</h1>
        <p>Here you can test all the MongoDB queries that were implemented:</p>
        <div class="row">
            <div class="col-sm-4 mb-3">
              <div class="card result-card">
                <div class="card-body">
                  <h5 class="card-title">Sports by country</h5>
                  <p class="card-text">Results obtained by a country in different sports.</p>
                  <div class="col-12 text-center">
                    <a href="/sports-by-country" class="btn btn-primary">🔍 Test</a>
                  </div>                  
                </div>
              </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card result-card">
                  <div class="card-body">
                    <h5 class="card-title">Best country in sport</h5>
                    <p class="card-text">Check which are the best countries for a sport</p>
                    <div class="col-12 text-center">
                      <a href="/best-country-in-sport" class="btn btn-primary">🔍 Test</a>
                    </div>                  
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-3">
                <div class="card result-card">
                  <div class="card-body">
                    <h5 class="card-title">Country results by season</h5>
                    <p class="card-text">Check if a country obtains better results in winter or summer olympic games.</p>
                    <div class="col-12 text-center">
                      <a href="/country-results-by-season" class="btn btn-primary">🔍 Test</a>
                    </div>                  
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-3">
                <div class="card result-card">
                  <div class="card-body">
                    <h5 class="card-title">Country results and temperature</h5>
                    <p class="card-text">Check the relation between the country results and the temperature.</p>
                    <div class="col-12 text-center">
                      <a href="/medals-temperature" class="btn btn-primary">🔍 Test</a>
                    </div>                  
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-3">
                <div class="card result-card">
                  <div class="card-body">
                    <h5 class="card-title">Compare two country results</h5>
                    <p class="card-text">Compare the results of two countries checking the games temperatures.</p>
                    <div class="col-12 text-center">
                      <a href="/compare-countries-results" class="btn btn-primary">🔍 Test</a>
                    </div>                  
                  </div>
                </div>
              </div>
          </div>
    </div>    
{% endblock %}
